NET/VB.NET/Source Code/Chapter 27/WebServWindowsApplication/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:i0="http://www.tempuri.org/DataSet1.xsd" xmlns:tns="http://tempuri.org/MyWebService/Service1" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/MyWebService/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.tempuri.org/DataSet1.xsd" location="http://localhost/MyWebService/Service1.asmx?schema=DataSet1" />
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/MyWebService/Service1">
      <s:import namespace="http://www.tempuri.org/DataSet1.xsd" />
      <s:element name="GetAuthors">
        <s:complexType />
      </s:element>
      <s:element name="GetAuthorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthorsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://www.tempuri.org/DataSet1.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAuthors">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Changes">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://www.tempuri.org/DataSet1.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAuthorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateAuthorsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://www.tempuri.org/DataSet1.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAuthorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthors" />
  </wsdl:message>
  <wsdl:message name="GetAuthorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAuthorsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAuthors" />
  </wsdl:message>
  <wsdl:message name="UpdateAuthorsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAuthorsResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetAuthors">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Gets the authors</documentation>
      <wsdl:input message="tns:GetAuthorsSoapIn" />
      <wsdl:output message="tns:GetAuthorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthors">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Updates the authors</documentation>
      <wsdl:input message="tns:UpdateAuthorsSoapIn" />
      <wsdl:output message="tns:UpdateAuthorsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetAuthors">
      <soap:operation soapAction="http://tempuri.org/MyWebService/Service1/GetAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthors">
      <soap:operation soapAction="http://tempuri.org/MyWebService/Service1/UpdateAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost/MyWebService/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>